---
title: ProMDM Redesigned

src: promdm-new

project-description: ProMDM is a mobile device management solution that enables companies to remotely control their mobile devices - track status, push new or update existing mobile applications, control access to company's on-line resources, wipe stolen devices etc. 

project-description2: First version of the ProMDM admin interface was designed as very simple and clean UI, but growing number of features required thorough redesign.

job-description: Redesign of administration user interface, front-end coding in HTML/CSS - Bootstrap/jQuery

project-tags:   
- Interaction Design
- UI Design
- Frontend Coding

technologies: 
- HTML5
- CSS3
- Bootstrap
- JavaScript
- jQuery

category: project

---
<div class="project-overview clearfix"> 
  <h3>{{ page.title }} {% if page.URL %}<a class="a2" href="{{ page.URL }}" target="_blank"><i class="fa fa-external-link"></i></a>{% endif %}</h3>
  <img class="project-image" src="../../assets/images/projects/large/{{ page.src }}.png" alt="{{ page.title }}"/>
  
  <p class="lead">{{ page.project-description }}<br/>{{ page.project-description2 }}</p>
  <h5>Type of work:</h5>
  <p>
  {% for tags in page.project-tags %}
    <span class="tag">{{ tags }}</span>
  {% endfor %}
  </p>
  <p>{{ page.job-description }}</p>
  
  <h5>Project Highlights:</h5>
  <p>The main goal of UI redesign was to <strong>reduce visual clutter</strong> of existing UI, but at the same time <strong>keep the same sequence of steps and grouping of information</strong> the users got used to.<br/>
    That required thorough <strong>layout redesign</strong> - moving top navigation to the left, introducing 2-column main content layout and a sidebar.<br/>
    The next step was to <strong>prioritise the contents and actions</strong> - place crucial ones in more accessible areas of the UI, move less important ones out of the way. New layout also enabled <strong>more efficient tracking and comparing data</strong>, which appeared to be one of the more important tasks and needed a better support.<br/><strong>Simple and clean design</strong> reduces visual clutter and highlights most important contents and actions.</p>
  <p>Read more about the project in this <a href="{{ site.baseurl }}/2015/10/22/promdm-redesign-case-study.html">case study &raquo;</a></p>
  <h5>Technologies:</h5>
  <ul class="technologies">
    {% for technologies in page.technologies %}
      <li>
        <img src="{{ site.baseurl }}/assets/images/logos/logo-{{ technologies | downcase }}.png" alt="Logo {{ technologies }}">
        <h6>{{ technologies }}</h6>
      </li>
    {% endfor %}
  </ul>
</div>
