---
title: Mobile Portal

src: mobile-portal

project-description: Mobile Portal is a simple application for creating mobile-friendly homepage with your favourite bookmarks. Site Admin can customize the appearance of the Portal (different skins, layouts, fonts, icons, colors, company logo etc.) and group the bookmarks in categories.

job-description: I was both UX Designer and full stack developer on this project.

project-tags:   
- UX Design
- UI Design
- Frontend Development
- Backend Development

technologies: 
- HTML5
- CSS3
- Bootstrap
- Javascript
- jQuery
- RubyonRails

category: project

---
<div class="project-overview clearfix"> 
  <h3>{{ page.title }} {% if page.URL %}<a class="a2" href="{{ page.URL }}" target="_blank"><i class="fa fa-external-link"></i></a>{% endif %}</h3>
  <img class="project-image" src="../../assets/images/projects/large/{{ page.src }}.png" alt="{{ page.title }}"/>
  
  <p class="lead">{{ page.project-description }}</p>
  <h5>Type of work:</h5>
  <p>
  {% for tags in page.project-tags %}
    <span class="tag">{{ tags }}</span>
  {% endfor %}
  </p>
  <p>{{ page.job-description }}</p>
  <h5>Project Highlights:</h5>
  <p>Main goal was to create very simple and intuitive web application that will enable IT department to create a sort of a homepage - bookmark list for each company employee's mobile device. The content of the <strong>homepage reflects different access rights</strong> of each employee, displaying only the bookmarks they are entitled to, so the admin interface had to enable grouping bookmarks into categories.<br/>
    Homepage also has to reflect visual identity of the company brand, so all of the <strong>visual elements are customizable</strong> - company title/logo, background, colors, fonts, icons - or one of the predefined skins can be used.<br/>
    In most cases icons and titles of bookmarks in <strong>thumbnail layout</strong> are sufficient, but some of the companies expressed a need for more detailed description of the bookmark, in which case they are using the list layout.</p>
  <h5>Technologies:</h5>
  <ul class="technologies">
    {% for technologies in page.technologies %}
      <li>
        <img src="{{ site.baseurl }}/assets/images/logos/logo-{{ technologies | downcase }}.png" alt="Logo {{ technologies }}">
        <h6>{{ technologies }}</h6>
      </li>
    {% endfor %}
  </ul>
</div>
