---
title: Mobile Portal

src: mobile-portal

project-description: Mobile Portal is a simple application for creating mobile-friendly homepage with your favourite bookmarks. Site Admin can customize the appearance of the Portal (different skins, layouts, fonts, icons, colors, company logo etc.) and group the bookmarks in categories.

job-description: The application was a result of my Ruby on Rails education, so I was the author of the product concept as well as full stack developer.

project-tags:   
- UX Design
- UI Design
- Frontend Development
- Backend Development

technologies: 
- HTML5
- CSS3
- Bootstrap
- Javascript
- jQuery
- RubyonRails

category: project

---
<div class="project-overview clearfix"> 
  <h3>{{ page.title }} {% if page.URL %}<a class="a2" href="{{ page.URL }}" target="_blank"><i class="fa fa-external-link"></i></a>{% endif %}</h3>
  <img class="project-image" src="../../assets/images/projects/large/{{ page.src }}.png" alt="{{ page.title }}"/>
  
  <p class="lead">{{ page.project-description }}</p>
  <h5>Type of work:</h5>
  <p>
  {% for tags in page.project-tags %}
    <span class="tag">{{ tags }}</span>
  {% endfor %}
  </p>
  <p>{{ page.job-description }}</p>
  <h5>Technologies:</h5>
  <ul class="technologies">
    {% for technologies in page.technologies %}
      <li>
        <img src="{{ site.baseurl }}/assets/images/logos/logo-{{ technologies | downcase }}.png" alt="Logo {{ technologies }}">
        <h6>{{ technologies }}</h6>
      </li>
    {% endfor %}
  </ul>
</div>
