---
title: PozitivaHub

src: pozitiva

project-description: Open-source application for CSA (Community Supported Agriculture) - it supports everyday offering-ordering process of one or more CSA groups. Supports several delivery locations, offers automated calculation of ordered quantities/ammounts, data export, communication between group members - all that one CSA group needs to function on daily bases.

job-description: I was front-end part of the team of two - I covered product concept, visual design, UX/UI design, coding in HTML/CSS (Bootstrap)/jQuery, parts of back-end coding in Ruby on Rails, QA, product launch, implementation and support.

project-tags:   
- UX Design
- UI Design
- Frontend Development
- Backend Development

technologies: 
- HTML5
- CSS3
- Bootstrap
- JavaScript
- jQuery
- RubyonRails

category: project

URL: https://www.youtube.com/watch?v=kMmryLgRH1g&list=UUglGZGhvoCFZOMGdWNEEo-g
---
<div class="project-overview clearfix"> 
  <h3>{{ page.title }} {% if page.URL %}<a class="a2" href="{{ page.URL }}" target="_blank"><i class="fa fa-external-link"></i></a>{% endif %}</h3>
  <img class="project-image" src="../../assets/images/projects/large/{{ page.src }}.png" alt="{{ page.title }}"/>
  
  <p class="lead">{{ page.project-description }}</p>
  <h5>Type of work:</h5>
  <p>
  {% for tags in page.project-tags %}
    <span class="tag">{{ tags }}</span>
  {% endfor %}
  </p>
  <p>{{ page.job-description }}</p>
  <h5>Technologies:</h5>
  <ul class="technologies">
    {% for technologies in page.technologies %}
      <li>
        <img src="../assets/images/logos/logo-{{ technologies }}.png" alt="Logo {{ technologies }}">
        <h6>{{ technologies }}</h6>
      </li>
    {% endfor %}
  </ul>
</div>
