
<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script> -->
<script src="{{ "/assets/js/vendor/jquery/jquery-1.11.3.js" | prepend: site.baseurl }}"></script>

<!-- Navbar http://www.adtile.me/fixed-nav/ -->
<script src="{{ "/assets/js/vendor/fixed-navbar/responsive-nav.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/vendor/fixed-navbar/fastclick.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/vendor/fixed-navbar/scroll.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/vendor/fixed-navbar/fixed-responsive-nav.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/vendor/jquery.cookie.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/vendor/cookiebar/jquery.cookiecuttr.js" | prepend: site.baseurl }}"></script>

<!-- Nanobar http://nanobar.micronube.com/ -->
<script src="{{ "/assets/js/vendor/nanobar/nanobar.js" | prepend: site.baseurl }}"></script>

<!-- Slick Carousel -->
<!-- <script src="{{ "/assets/js/vendor/slick/slick.js" | prepend: site.baseurl }}"></script> -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>
<!-- Lightbox -->
<script src="{{ "/assets/js/vendor/lightbox/lightbox.js" | prepend: site.baseurl }}"></script>

<!-- Custom -->
<script src="{{ "/assets/js/custom/custom.js" | prepend: site.baseurl }}"></script>


<!-- Google Analytics -->

<script>

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68825004-1', 'auto');
  ga('send', 'pageview');

</script>
