<footer>
  <div class="container">
    <p class="contacts">
      <a href="https://twitter.com/mirna_m" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="https://www.github.com/Ejla" target="_blank"><i class="fa fa-github"></i></a>
      <a href="http://hr.linkedin.com/in/mirnamajstorovic/" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="mailto:mirna@majstorovic.net?subject=Portfolio Contact"><i class="fa fa-envelope-o"
          style="font-size: 24px"></i></a>
    </p>
    <p><small>&copy; 2024 Mirna Majstorović</small></p>
  </div>

</footer>
