<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Navbar http://www.adtile.me/fixed-nav/ -->
<script src="{{ "/assets/js/vendor/fixed-navbar/responsive-nav.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/vendor/fixed-navbar/fastclick.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/vendor/fixed-navbar/scroll.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/vendor/fixed-navbar/fixed-responsive-nav.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/vendor/jquery.cookie.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/vendor/cookiebar/jquery.cookiecuttr.js" | prepend: site.baseurl }}"></script>

<!-- Nanobar http://nanobar.micronube.com/ -->
<script src="{{ "/assets/js/vendor/nanobar/nanobar.js" | prepend: site.baseurl }}"></script>

<!-- Slick Carousel -->
<!-- <script src="{{ "/assets/js/vendor/slick/slick.js" | prepend: site.baseurl }}"></script> -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>

<!-- Custom -->
<script src="{{ "/assets/js/custom/custom.js" | prepend: site.baseurl }}"></script>

  <script>
$(document).ready(function() {
  if( $.cookieAccepted() ) { 
  // insert the code you do not want to run UNTIL cookies are accepted here
  }
});

  
  </script>