<div class="shadow"></div>
<header id="navbar">
  <a href="{{ site.baseurl }}/index.html" class="site-logo">Mirna Majstorović - UX Designer and Web Developer</a>
  <nav class="nav-collapse">
    <ul>
      <li class="menu-item"><a href="{{ site.baseurl }}/" id="nav-home"
          class="a2 {% if page.url == '/index.html' %}active{% endif %}"></a></li>
      <li class="menu-item"><a href="{{ site.baseurl }}/about/"
          class="a2 {% if page.url == '/skills/' %}active{% endif %}">About</a></li>
      <li class="menu-item"><a href="{{ site.baseurl }}/projects.html"
          class="a2 {% if page.url == '/projects/' %}active{% endif %}">Projects</a></li>
      <!-- <li class="menu-item"><a href="{{ site.baseurl }}/blog/"
          class="a2 {% if page.url == '/blog/' %}active{% endif %}">Blog</a></li> -->
      <li class="menu-item"><a href="{{ site.baseurl }}/contact/"
          class="a2 {% if page.url == '/contact/' %}active{% endif %}">Contact</a></li>
    </ul>
  </nav>
</header>

<!-- http://responsive-nav.com/ -->
