---
layout: default
---


<section id="projects">
  <h2>Projects</h2>
  <p class="projects-description">I specialize in building complex web applications with <strong>advanced UI
      flows</strong> and
    data presentation, such as <strong>business software, admin dashboards, user portals</strong>, etc.</p>
  <div class="row">
    {{ content }}
  </div>
</section>
<section id="call-for-action" style=" margin-top: -40px; margin-bottom: 40px">
  <p>
    <a href="{{ site.baseurl }}/assets/MirnaMajstorovicCV2022.pdf" class="button button-outlined"
      target="_blank">Download
      My Resume</a>
    &nbsp;
    <a href="{{ site.baseurl }}/contact/" class="button">Work With Me</a>
  </p>

  <br />
</section>
