---
layout: default
---

<section class="bg4" style="max-width: 1600px;margin: 0 auto;"">
  <h3 class=" projects-hero">
  I specialize in building complex web applications with <strong>advanced UI flows</strong> and
  data presentation, such as <strong>business software, admin dashboards, user portals</strong>, etc.
  </h3>
</section>
<section id="projects">
  <h2>Projects</h2>
  <div class="row">
    {{ content }}
  </div>
</section>
<section id="call-for-action" style=" margin-top: -40px; margin-bottom: 40px">
  <p>
    <a href="{{ site.baseurl }}/assets/MirnaMajstorovicCV2022.pdf" class="button" target="_blank">Download My Resume</a>
    &nbsp;
    <a href="{{ site.baseurl }}/contact/" class="button">Get in Touch</a>
  </p>
  <br />
</section>
