---
layout: default
---


<section class="page-intro">
  <h2>Projects</h2>
  <p>I have a proven track record of building <strong>complex responsive web applications with advanced user flows and
      data visualization</strong>,
    including tailored business software, admin dashboards, and user portals.</p>
</section>
<section id="projects">
  {{ content }}

</section>
<section id="call-for-action" style=" margin-top: -40px; margin-bottom: 40px">
  <p>
    <a href="{{ site.baseurl }}/assets/MirnaMajstorovicCV2022.pdf" class="button button-outlined"
      target="_blank">Download
      My Resume</a>
    &nbsp;
    <a href="{{ site.baseurl }}/contact/" class="button">Work With Me</a>
  </p>

  <br />
</section>
